<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">MongoDB Scraper</h1>
    <p class="lead text-center">News Edition</p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>
  $(document).ready(function(){
    $("#scrape").on("click", async function(e){
      e.preventDefault();
      const articles = await axios.post('/api/scrape', null);
      console.log(articles);
    });
  });
</script>