<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Leave a comment!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea id="comment" placeholder="Your Comment Here!" class="w-100"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveCmntBtn">Save Comment</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Saved Articles</h1>
  </div>
</div>

<div>
  <div id="article"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script>
  $(document).ready(async () => {
    const articles = await axios.get('api/articles');
    for (var i = 0; i < articles.data.length; i++) {
      const headline = articles.data[i].headline;
      const link = articles.data[i].link;
      const summary = articles.data[i].summary;
      const key = articles.data[i]._id;
      var article = 
        `<div class="card">
          <div class="card-header">
            <h1><strong><a href="${link}" target="_blank">
              ${headline}
            </a></strong></h1>
          </div>
          <div class="card-body">
            <a class="card-text" href="${link}" target="_blank">${summary}</a>
            <button class="btn btn-primary commentBtn" key="${key}">
              Comment
            </button>
            <button class="btn btn-primary deleteBtn">
              Delete Article
            </button>
          </div>
        </div>`
        $('#article').append(article);
    }

    $('.commentBtn').on('click', function(e) {
      e.preventDefault();
      const articleId = $(this).attr('key')
      $('.modal').modal('toggle')
      $('#saveCmntBtn').on('click', function(e) {
        e.preventDefault();
        const note = $('#comment').val().trim();
        $('.modal').modal('toggle');
      })
    })
  })
</script>